.error_msg {
  color: red;
}
h1 {
  text-align: center;
}
.login-area, .register-area, .content {
  margin: 2rem auto;
  text-align: center;
  padding: 10px 10px 40px;
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 10px;
}
.login-area input, .register-area input {
  margin-top: 5px;
  margin-bottom: 5px;
}