body {
  background: #f2f2f2;
}
.register {
  background: url("../images/backgrounds/desktop/shutterstock_1054276079.jpg") no-repeat;
  background-size: cover;
  min-width: 950px;
}
.sidebar-first {
  display: inline-flex;
}

.sidebar-first, .main-column {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
.main-column {
  position: relative;
  width: 100%;
  padding: 20px;
}
textarea#post-text {
  width: 88%;
}
.post-form, .status-post {
  width: 100%;
}
input#post-button {
  width: 10%;
  margin: 0;
  padding: 16px;
  float: right;
}
.post-form textarea {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}
.post-profile-pic {
  float: left;
  margin-right: 10px;
}
.status-post {
  min-height: 50px;
  width: 96%;
  padding: 0 5px;
}
.sidebar-first.id img {
  margin-right: 10px;
  border-radius: 8px;
}
.post-profile-pic img {
  border-radius: 5px;
}

#post-body {
  font-size: 1.1rem;
}

.error_msg {
  color: red;
}
h1 {
  text-align: center;
}
.login-register-area, .content {
  margin: 7% auto;
  text-align: center;
  padding: 5px 5px 30px;
  border: 1px solid #ccc;
  max-width: 400px;
  border-radius: 10px;
  background: rgba(240, 248, 255, 0.8196078431372549);
}
.login-register-area input, input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.login-register-area form {
  padding: 20px;
}
input[type="submit"] {
  padding: 5px 30px;
  border-radius: 3px;
  margin: 7px;
  background: #00c6e0;
  border: 1px solid #00c6e0;
  cursor: pointer;
  margin-bottom: 15px;
}
#register-form {
  display: none;
}
a {
  color: #3F51B5;
}
input.form-control {
  margin-top: 0;
}
.sidebar-first.id a {
  display: contents;
}
header.register-header {
  padding: 5px 10px;
  background: aliceblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}
.bg-light {
  background-color: #e8f3ff !important;
  border-bottom: 1px solid #e9f4ff;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
}
#brand-stacked h1, #brand-straight h1 {
  font-family: 'Rammetto One', cursive;
  color: #4a929c;
  word-break: keep-all;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #cfdebd;
  text-shadow: 1px 2px 3px green;
}
#brand-stacked {
  width: 100%;
  z-index: 100;
  margin: 0 auto;
}
form.form-inline.my-2.my-lg-0 {
  margin: 0 auto;
}
.user-details.container {
  margin: 0 auto;
  top: 85px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 950px;
}
#brand-stacked h1 {
  line-height: 2.2rem;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
#brand-stacked h1 small {
  font-size: .9rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 1rem;
  text-transform: uppercase;
}
#brand-stacked p {
  color: #1c234d;
  font-size: 1.1em;
  line-height: .8em;
  margin-top: 0;
}
#brand-straight {
  margin-right: 1.5%;
}
#brand-straight h1 {
  float: left;
  font-size: 2rem;
}
#brand-straight h1 small {
  font-size: 0.7rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  line-height: .2rem;
  text-transform: uppercase;
}
nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.navbar {
  padding: .5rem 1rem .3rem;
}